//! **************************************************************************
// Written by: Map M.81d on Wed May 03 14:58:00 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

