//! **************************************************************************
// Written by: Map M.81d on Thu May 11 00:58:39 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "PS2KeyboardData" LOCATE = SITE "J13" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "PS2KeyboardCLK" LOCATE = SITE "L12" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "U0/WRstate_FSM_FFd1" BEL "U0/WRstate_FSM_FFd2" BEL
        "U0/PS2BitCounter_3" BEL "U0/PS2BitCounter_2" BEL "U0/PS2BitCounter_1"
        BEL "U0/PS2BitCounter_0" BEL "U0/PS2state_FSM_FFd1" BEL
        "U0/PS2state_FSM_FFd2" BEL "U0/PS2Data_sr_7" BEL "U0/PS2Data_sr_6" BEL
        "U0/PS2Data_sr_5" BEL "U0/PS2Data_sr_4" BEL "U0/PS2Data_sr_3" BEL
        "U0/PS2Data_sr_2" BEL "U0/PS2Data_sr_1" BEL "U0/PS2Clk_Q1" BEL
        "U0/PS2Clk" BEL "U0/PS2Data" BEL "U0/PS2Clk_Q2" BEL "U1/counter_r_22"
        BEL "U1/counter_r_21" BEL "U1/counter_r_20" BEL "U1/counter_r_19" BEL
        "U1/counter_r_18" BEL "U1/counter_r_17" BEL "U1/counter_r_16" BEL
        "U1/counter_r_15" BEL "U1/counter_r_14" BEL "U1/counter_r_13" BEL
        "U1/counter_r_12" BEL "U1/counter_r_11" BEL "U1/counter_r_10" BEL
        "U1/counter_r_9" BEL "U1/counter_r_8" BEL "U1/counter_r_7" BEL
        "U1/counter_r_6" BEL "U1/counter_r_5" BEL "U1/counter_r_4" BEL
        "U1/counter_r_3" BEL "U1/counter_r_2" BEL "U1/counter_r_1" BEL
        "U1/counter_r_0" BEL "U1/an_3" BEL "U1/an_2" BEL "U1/an_1" BEL
        "U1/an_0" BEL "U1/counter_1" BEL "U1/counter_0" BEL "U1/segments_6"
        BEL "U1/segments_5" BEL "U1/segments_4" BEL "U1/segments_3" BEL
        "U1/segments_2" BEL "U1/segments_1" BEL "U1/segments_0" BEL
        "U1/clk_1kHz" BEL "clk_BUFGP/BUFG" BEL "U0/Mshreg_PS2Data_sr_8" BEL
        "U0/PS2Data_sr_8";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

